.portfolio{
    width: auto;
    height: auto;
    background-color: rgb(236,240,243);
    padding-top: 5vw;

}

.head{
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head h2{
    font-size: 5vw;
    font-weight: 500;
    line-height: 5vw;
}

.portfolio_card{
    margin-top: 4vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

@media all and (max-width:1000px) {
    .portfolio_card{
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


@media screen and (max-width:200px) {
    .portfolio{
        height: 100%;
    }
    .portfolio_card{
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-wrap: wrap; */
    }
}