.portfolio{
    width: auto;
    height: auto;
    background-color: rgb(236,240,243);

}

.head{
    padding-top: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.head h2{
    font-size: 4vw;
    font-weight: 600;
}

.portfolio_card{
    margin-top: 5vw;
    padding: 1vw;
    display: flex;
    flex-wrap: wrap;
}


@media screen and (min-width:200px) {
    .portfolio{
        height: 100%;
    }
    .portfolio_card{
        display: flex;
        flex-wrap: wrap;
    }
}