.card{
    width: 30vw;
    height: inherit;
    padding: 2vw 3vw 2vw 3vw;
    background-color: EBEFF2;
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
    border-radius: 1.9vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 1vw;
}


.card:hover{
    color: red;
}
.container{
    width: auto;
    height: auto; 
    /* display: flex;    */
    /* align-items: flex-start; */
    /* justify-content: center;   */
    /* flex-direction: column;  */
}

.card_image{
    width: auto;
    height: auto;
    /* padding: 2vw ; */
    /* background-color: blue; */
}

.card_image img{
    width: 26vw;
    height: 17vw;
    border-radius: 1vw;
    transition: transform 0.2s;
}

.card_image img:hover{
   transform: scale(1.06);
}

.card_haed{
    margin-top: 1.6vw;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    cursor: pointer;
}

.card_haed .text{
    color: rgb(250, 85, 85);
}

.card_haed h3{
    font-size: 1.4vw;
    font-weight: 400;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
}
.icons:hover{
    color: black;
}

.icons span{
    margin-left: 0.4vw;
}

.card_text {
    margin-top: 1vw;
}

.card_text h1{
    font-size: 2vw;
    font-weight: 500;
    padding-bottom: 1vw;
}
    

@media all and (max-width:1000px) {
    .card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}

@media all and (max-width:700px) {
    .card_image img{
        width: 40vw;
        height: 30vw;
    }
    .card{
        width: auto;
        display: flex;
        align-items: center;
        flex-wrap: wrap;    
    }
    .card_haed .text{
        font-size: 2vw;
    }
    .card_haed h3{
        font-size: 2vw;
    }
    .card_text h1{
        font-size: 4vw;
        display: flex;
        flex-wrap: wrap;
        inline-size: 40vw;
        overflow-wrap: break-word;
        /* background-color: blue; */
    }
}

@media all and (max-width:500px) {
    .card_image img{
        width: 50vw;
        height: 35vw;
    }
    .card{
        /* width: ; */
        display: flex;
        align-items: center;
        flex-wrap: wrap;    
    }
    .card_haed .text{
        font-size: 3vw;
    }
    .card_haed h3{
        font-size: 3vw;
    }
    .card_text h1{
        font-size: 5vw;
        display: flex;
        flex-wrap: wrap;
        inline-size: 50vw;
        overflow-wrap: break-word;
    }
}
/*
@media all and (max-width:200px) {
    .card{
        display: flex;
        align-items: center;
        width: 50vw;
    }
}  */